* {
    font-family: "JetBrains Mono", monospace;
    font-size: 13px;
    font-weight: bold;
    border: none;
    border-radius: 0;
    min-height: 0;
}

window#waybar {
    background-color: #282828;
    color: #ebdbb2;
}

#workspaces button {
    padding: 0 5px;
    color: #a89984;
    background: transparent;
}

#workspaces button.active {
    color: #fabd2f;
}

#clock, #cpu, #memory, #battery, #network, #pulseaudio {
    padding: 0 8px;
    color: #ebdbb2;
}

#clock {
  color: #fabd2f;
}

#battery.warning {
    color: #fe8019;
}

#battery.critical {
    color: #fb4934;
}
